h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.home-background {
  background: black;
}

@media only screen and (max-width: 1370px) {
  .grid-container-main {
    grid-template-columns: auto auto;
  }
  .icon-image {
    width: 200px;
  }

  .banner-header {
    font-size: 3.5rem;
  }
  .banner-text {
    width: 70%;
  }
}

@media only screen and (max-width: 814px) {
  .grid-container-main {
    grid-template-columns: auto;
  }
  .icon-image {
    width: 150px;
  }
  .banner-header {
    font-size: 2.5rem;
  }
  .banner-text {
    width: 100%;
  }
}
