.icon-image {
  width: 200px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px;
  background-size: cover;
  border-radius: 20px;
}
@media only screen and (max-width: 1370px) {
  .icon-image {
    width: 200px;
  }
}

@media only screen and (max-width: 814px) {
  .icon-image {
    width: 150px;
  }
}
